.aboutSection {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15rem 0;
}
.left {
	flex: 0.5;
	padding-left: 15rem;
	padding-right: 5rem;
}
.content {
	width: 40vw;
}
.content > p:first-child {
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 2rem;
}
.content > h1 {
	line-height: 1.1;
}
.content > p:last-child {
	padding-top: 5rem;
	font-size: 2.5rem;
	line-height: 1.6;
	width: 35vw;
}
.right {
	flex: 0.5;
}
.right > img {
	width: 100%;
	height: 90rem;
	object-fit: cover;
}
@media screen and (max-width: 1292px) {
}
