.reviewsSection {
	padding: 5rem 5rem 5rem 15rem;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.info {
	flex: 0.5;
	margin-right: 5rem;
}
.info > h1 {
	font-size: 7rem;
	margin-bottom: 2rem;
}
.info > p {
	font-size: 2.5rem;
	line-height: 1.7;
}
.carousel {
	flex: 0.5;
	width: 100%;
	overflow: hidden;
	border: 0.1rem solid var(--d1c);
	padding: 5rem;
}
.carouselCard {
	color: var(--2e2) !important;
}
.carouselCard > h2 {
	font-weight: 600;
}
.carouselCard > p {
	line-height: 1.7;
	font-size: 2.1rem;
}
.carouselCard > p:not(:last-child) {
	margin-bottom: 3rem;
}
.quote {
	font-size: 3rem;
	margin-bottom: 1rem;
}
