.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3rem 5rem;
}
.socialLinks {
	display: flex;
	align-items: center;
	justify-content: center;
}
.link {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0.1rem solid var(--2e2);
	cursor: pointer;
	transition: 250ms all;
}
.link:not(:last-child) {
	margin-right: 1rem;
}
.link:hover {
	background: var(--ec4);
	border: 0.1rem solid var(--white);
}
.link:hover > svg {
	color: var(--white);
}
.link > svg {
	font-size: 1.8rem;
}
.logo {
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo > img {
	width: 17rem;
}
.right {
	display: flex;
	align-items: center;
	justify-content: center;
}
.right > p {
	font-weight: 700;
	margin-right: 2rem;
	font-size: 2.2rem;
}
.menu {
	cursor: pointer;
}
.menu > svg {
	font-size: 3rem;
}
@media screen and (max-width: 768px) {
	.socialLinks {
		display: none;
	}
	.right > p {
		display: none;
	}
}
@media screen and (max-width: 425px) {
	.navbar {
		padding: 2rem;
	}
}

/* menu styling */
.menuWrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999999999999;
	background: var(--2e2);
	color: var(--white);
	animation: animate1 250ms ease-in-out;
}
/* .menuWrapper > .navbar {
	box-shadow: 0px 0.1rem 0.2rem rgba(255, 255, 255, 0.2);
} */
.menuWrapper .right > p {
	visibility: hidden;
}
.menuWrapper .socialLinks {
	margin-bottom: 1rem;
}
.mobileLink {
	border: 0.1rem solid var(--white);
}
.mobileLink:hover {
	background: var(--white);
	border: 0.1rem solid var(--white);
}
.mobileLink:hover > svg {
	color: var(--2e2);
}
@keyframes animate1 {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

.linksContainer {
	padding: 5rem 15rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.links {
	flex: 0.5;
}
.links > h1 {
	font-size: 10rem;
	font-weight: 500;
	transition: 150ms all;
	cursor: pointer;
	width: fit-content;
}
.links > h1:hover {
	font-weight: 800 !important;
}
.subLinksContainer {
	flex: 0.5;
}
.subLinks {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.subLinks > p {
	font-size: 2.1rem;
	font-weight: 400;
	cursor: pointer;
	transition: 200ms all;
}
.subLinks > p:hover {
	transform: scale(1.2);
	color: var(--ec4);
}
.subLinks > p:not(:last-child) {
	margin-bottom: 2rem;
}
.bold {
	font-weight: 800 !important;
}
.normal {
	font-weight: 500 !important;
}
.blobs {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -2;
}
.blobs > svg:first-child {
	width: 100rem;
	filter: blur(10rem);
	position: absolute;
	left: -15rem;
	bottom: -15rem;
}
.blobs > svg:last-child {
	width: 100rem;
	filter: blur(10rem);
	position: absolute;
	right: -15rem;
	top: -25rem;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background: rgb(46, 46, 46, 0.5);
	filter: blur(0.5rem);
}
