.aboutSection {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15rem 0;
}
.left {
	flex: 0.5;
	padding-left: 15rem;
	padding-right: 5rem;
}
.content {
	width: 40vw;
}
.content > p:first-child {
	text-transform: uppercase;
	font-size: 1.7rem;
	font-weight: 600;
	margin-bottom: 2rem;
}
.content > h1 {
	line-height: 1.1;
	font-size: 6.5rem;
}
.content > p:last-child {
	padding-top: 5rem;
	font-size: 3.2rem;
	line-height: 1.6;
	width: 40vw;
}
.right {
	flex: 0.5;
}
.right > img {
	width: 100%;
	height: 80rem;
	object-fit: cover;
}
@media screen and (max-width: 1252px) {
	.left {
		padding-left: 10rem;
		padding-right: 2rem;
		flex: 0.6;
	}
	.right {
		flex: 0.4;
	}
	.content > p:last-child {
		width: 45vw;
	}
}
@media screen and (max-width: 1150px) {
	.right > img {
		height: 80rem;
	}
}
@media screen and (max-width: 1124px) {
	.aboutSection {
		flex-direction: column;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	.left {
		flex: 1;
		width: 100%;
		padding-left: 6rem;
		padding-right: 6rem;
	}
	.right {
		flex: 1;
		width: 100%;
	}
	.content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding-bottom: 5rem;
	}
	.content > p:last-child {
		width: 100%;
	}
	.right {
		padding: 0 6rem;
	}
	.right > img {
		height: 50rem;
		border-radius: 1.5rem;
	}
}
@media screen and (max-width: 768px) {
	.left {
		padding-left: 4rem;
		padding-right: 4rem;
	}
	.right {
		padding: 0 4rem;
	}
}
@media screen and (max-width: 582px) {
	.content > h1 {
		font-size: 4rem;
	}
	.content > p:last-child {
		font-size: 2rem;
	}
}
@media screen and (max-width: 466px) {
	.content > h1 {
		font-size: 3.5rem;
	}
	.content > p:last-child {
		padding-top: 3rem;
	}
}
@media screen and (max-width: 425px) {
	.right {
		padding: 0;
	}
	.right > img {
		border-radius: 0;
	}
}
@media screen and (max-width: 399px) {
	.left {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}
