.blogSection {
	padding: 5rem 0rem 25rem 15rem;
	overflow: hidden;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 30rem;
	padding-left: 6rem;
}
.header > h1 {
	font-size: 9rem;
}
.header > button {
	color: var(--2e2);
	border: 0.1rem solid var(--2e2);
}
.container {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding-top: 10rem;
}
.circle {
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.circle__item {
	width: 85rem;
	height: 85rem;
}

.circle__spinner {
	width: 85rem;
	height: 85rem;
	transform: rotate(-180deg);
}
.circle__spinner .path {
	stroke: #aaa;
	stroke-linecap: round;
	animation: dash 1s linear;
}

@keyframes dash {
	/* 0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dasharray: 130, 150;
		stroke-dashoffset: 0;
	} */

	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dasharray: 130, 150;
		stroke-dashoffset: 0;
	}
}

.blogCard {
	width: 82rem;
	cursor: pointer;
	position: relative;
	transition: all 250ms ease-in-out;
}
.blogCard:hover {
	transform: scale(1.05);
}
.blogCard:hover .circle {
	display: block;
}
.blogCard:not(:last-child) {
	margin-right: 5rem;
}
.imageContainer {
	width: 100%;
	height: 45rem;
}
.imageContainer > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.details {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	padding: 0.5rem;
	margin-top: 0.5rem;
}
.details > div {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-right: 4rem;
}
.details > div > p {
	margin-left: 1rem;
	font-size: 1.4rem;
	font-weight: 600;
}
.details p {
	font-size: 1.6rem;
}
.blogBtn {
	height: 10rem;
	width: 10rem;
}
.description {
	overflow: hidden;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	width: 70%;
}
@media screen and (max-width: 1440px) {
	.header {
		padding-right: 20rem;
		padding-left: 0rem;
	}
	.blogCard {
		width: 65rem;
	}
	.circle__item {
		width: 70rem;
		height: 70rem;
	}
	.circle__spinner {
		width: 70rem;
		height: 70rem;
		transform: rotate(-180deg);
	}
}
@media screen and (max-width: 1222px) {
	.blogSection {
		padding: 5rem 0rem 15rem 15rem;
	}
	.container {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.blogCard:not(:last-child) {
		margin-bottom: 5rem;
	}
}
@media screen and (max-width: 1024px) {
	.blogSection {
		padding: 5rem 15rem 25rem 15rem;
	}
	.container {
		width: 100%;
	}
	.header {
		padding-right: 10rem;
		padding-left: 0rem;
	}
	.blogCard {
		width: 100%;
	}
}
@media screen and (max-width: 1174px) {
	.circle {
		height: 35vw;
		width: 35vw;
		border-radius: 50%;
		border: 0.1rem solid #a8a8a8;
		position: absolute;
		z-index: -1;
		top: 44%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: none;
	}
}
@media screen and (max-width: 1168px) {
	.blogSection {
		padding: 5rem 5rem 5rem 5rem;
	}
}
@media screen and (max-width: 978px) {
	.circle {
		height: 36vw;
		width: 36vw;
		border-radius: 50%;
		border: 0.1rem solid #a8a8a8;
		position: absolute;
		z-index: -1;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: none;
	}
}
@media screen and (max-width: 948px) {
	.container {
		flex-direction: column;
	}
	.blogCard {
		width: 100%;
	}
	.blogCard:not(:last-child) {
		margin-right: 0;
		margin-bottom: 5rem;
	}
	.blogSection {
		padding: 5rem;
	}
}
@media screen and (max-width: 858px) {
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 0;
	}
}
@media screen and (max-width: 560px) {
	.details {
		flex-direction: column;
	}
	.details > p {
		margin-top: 1rem;
	}
}

@media screen and (max-width: 508px) {
	.header {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.blogBtn {
		margin-top: 2rem;
	}
}
@media screen and (max-width: 425px) {
	.blogSection {
		padding: 3rem;
	}
	.header {
		align-items: center;
	}
	.container {
		padding-top: 3rem;
	}
	.description {
		width: 100%;
	}
}
