.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3rem 10rem 3rem 12rem;
}
.socialLinks {
	display: flex;
	align-items: center;
	justify-content: center;
}
.link {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0.1rem solid var(--2e2);
	cursor: pointer;
	transition: 250ms all;
}
.link:not(:last-child) {
	margin-right: 2rem;
}
.link:hover {
	background: var(--ec4);
	border: 0.1rem solid var(--white);
}
.link:hover > svg {
	color: var(--white);
}
.link > svg {
	font-size: 1.8rem;
}
.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.logo > img {
	width: 18rem;
}
.right {
	display: flex;
	align-items: center;
	justify-content: center;
}
.right > p {
	font-weight: 700;
	margin-right: 2rem;
	font-size: 2.2rem;
}
.menu {
	cursor: pointer;
}
.menu > svg {
	font-size: 3.5rem;
	margin-left: 1rem;
}
@media screen and (max-width: 768px) {
	.socialLinks {
		display: none;
	}
	.right > p {
		display: none;
	}
}
@media screen and (max-width: 425px) {
	.navbar {
		padding: 2rem;
	}
}

/* menu styling */
.menuWrapper {
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	z-index: 99999999999999999999;
	background: var(--2e2);
	color: var(--white);
	animation: animate1 250ms;
}
.menuWrapper::-webkit-scrollbar {
	width: 0rem;
}

.menuWrapper::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
}

.menuWrapper::-webkit-scrollbar-thumb {
	background-color: var(--yellow);
	outline: 0.1rem solid var(--yellow);
}
/* .menuWrapper > .navbar {
	box-shadow: 0px 0.1rem 0.2rem rgba(255, 255, 255, 0.2);
} */
.menuWrapper .right > p {
	visibility: hidden;
}
.menuWrapper .socialLinks {
	margin-bottom: 1rem;
}
.mobileLink {
	border: 0.1rem solid var(--white);
}
.mobileLink:hover {
	background: var(--white);
	border: 0.1rem solid var(--white);
}
.mobileLink:hover > svg {
	color: var(--2e2);
}
@keyframes animate1 {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

.linksContainer {
	padding: 5rem 15rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.links {
	flex: 0.5;
}
.links > h1 {
	font-size: 10rem;
	font-weight: 500;
	transition: 150ms all;
	cursor: pointer;
	width: fit-content;
}
.links > h1:hover {
	font-weight: 800 !important;
}
.subLinksContainer {
	flex: 0.5;
}
.mobileLinksContainer {
	display: none;
}
.subLinks {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.subLinks > p {
	font-size: 2.4rem;
	font-weight: 400;
	cursor: pointer;
	transition: 200ms all;
}
.subLinks > p:hover {
	transform: scale(1.2);
	color: var(--ec4);
}
.subLinks > p:not(:last-child) {
	margin-bottom: 2rem;
}
.bold {
	font-weight: 800 !important;
}
.normal {
	font-weight: 500 !important;
}
.blobs {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -2;
}
.blobs > svg:first-child {
	width: 100rem;
	filter: blur(10rem);
	position: absolute;
	left: -15rem;
	bottom: -15rem;
}
.blobs > svg:last-child {
	width: 100rem;
	filter: blur(10rem);
	position: absolute;
	right: -15rem;
	top: -25rem;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background: rgb(46, 46, 46, 0.5);
	filter: blur(5rem);
}
.contactInfo {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
	margin-left: auto;
	width: fit-content;
	margin-right: 35rem;
	margin-top: -5rem;
	padding-bottom: 5rem;
}
.contactInfo > p {
	font-weight: 300;
	font-size: 1.6rem;
	color: #eee;
}
.line {
	width: 100%;
	height: 0.1rem;
	background: #aaa;
	margin: 1rem 0;
}

@media screen and (max-width: 1440px) {
	.contactInfo {
		margin-top: -8rem;
		margin-right: 8rem;
	}
	.blobs > svg:first-child {
		width: 90rem;
		filter: blur(8rem);
		left: -18rem;
		bottom: -15rem;
	}
	.blobs > svg:last-child {
		width: 90rem;
		filter: blur(8rem);
		right: -18rem;
		top: -25rem;
	}
}
@media screen and (max-width: 1344px) {
	.contactInfo {
		margin-top: -8rem;
		margin-right: 8rem;
	}
	.blobs > svg:first-child {
		width: 85rem;
		filter: blur(8rem);
		left: -20rem;
		bottom: -10rem;
	}
	.blobs > svg:last-child {
		width: 85rem;
		filter: blur(8rem);
		right: -20rem;
		top: -25rem;
	}
	.links > h1 {
		font-size: 9rem;
	}
}
@media screen and (max-width: 1262px) {
	.links {
		flex: 0.7;
	}
	.subLinks {
		flex: 0.3;
	}
}
@media screen and (max-width: 1104px) {
	.links {
		flex: 0.8;
	}
	.subLinks {
		flex: 0.2;
	}
	.contactInfo {
		margin-top: -2rem;
		margin-right: 4rem;
	}
	.contactInfo > p {
		font-weight: 300;
		font-size: 1.4rem;
		color: #eee;
	}
	.blobs > svg:first-child {
		width: 80rem;
		filter: blur(8rem);
		left: -20rem;
		bottom: -10rem;
	}
	.blobs > svg:last-child {
		width: 80rem;
		filter: blur(8rem);
		right: -25rem;
		top: -25rem;
	}
	.linksContainer {
		padding: 5rem 10rem;
	}
}
@media screen and (max-width: 1104px) {
	.links > h1 {
		font-size: 8rem;
	}
	.contactInfo {
		margin-top: 5rem;
		margin-right: 4rem;
	}
}
@media screen and (max-width: 968px) {
	.linksContainer {
		padding: 5rem;
	}
}
@media screen and (max-width: 866px) {
	.subLinksContainer {
		display: none;
	}
	.mobileLinksContainer {
		display: block;
	}
	.links > h1:not(:last-child) {
		padding-bottom: 2rem;
	}
	.menuWrapper {
		overflow-y: scroll;
		overflow-x: hidden;
		background-image: linear-gradient(to bottom, #4998c3, #ec4d37);
	}
	.blobs > svg:first-child {
		display: none;
	}
	.blobs > svg:last-child {
		display: none;
	}
	.overlay {
		display: none;
	}
	.contactInfo {
		margin-top: 4rem;
		margin-right: 3rem;
		padding-bottom: 2rem;
	}
	.contactInfo > p {
		font-weight: 400;
		font-size: 1.4rem;
		color: var(--white);
	}
	.line {
		background: var(--white);
	}
}
@media screen and (max-width: 642px) {
	.contactInfo {
		display: none;
	}
	.links > h1 {
		font-size: 7rem;
	}
}
@media screen and (max-width: 542px) {
	.links > h1 {
		font-size: 6rem;
	}
}
@media screen and (max-width: 446px) {
	.links > h1 {
		font-size: 5rem;
	}
	.subLinks > p {
		font-size: 1.8rem;
		font-weight: 400;
	}
	.subLinks > p:last-child {
		margin-bottom: 2rem;
	}
}
@media screen and (max-width: 425px) {
	.linksContainer {
		padding: 2rem;
	}
}
@media screen and (max-width: 356px) {
	.subLinks > p {
		font-size: 1.6rem;
	}
}
@media screen and (max-width: 337px) {
	.links > h1 {
		font-size: 4rem;
	}
}
