.header {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 5rem 10vw;
}
.left {
	flex: 0.5;
	margin-right: 5rem;
}
.left > h2 {
	color: var(--0f6);
	font-size: 4rem;
	margin-bottom: 2rem;
}
.left > p {
	font-size: 2.2rem;
	width: 80%;
}
.info {
	display: flex;
	align-items: flex-start;
	margin-top: 10rem;
}
.info > div:not(:last-child) {
	margin-right: 6rem;
}
.info > div > h3 {
	margin-bottom: 1rem;
	font-size: 2.2rem;
	color: var(--2e2);
}
.info > div > p {
	color: var(--0f6);
	font-size: 1.9rem;
	font-weight: 500;
}
.involvement {
	display: flex;
	flex-direction: column;
	white-space: break-spaces;
}
.right {
	flex: 0.5;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.right > img {
	width: 100%;
}
.showcase {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--2e2);
	padding: 5vw;
}
.showcaseImage {
	width: 100rem;
}
.showcaseImage > img {
	width: 100%;
}
.showcaseImage:first-child {
	margin-right: 7rem;
}
.showcaseImage:last-child {
	margin-top: 30rem;
}
.mainImage {
	width: 100%;
	height: 100rem;
}
.mainImage > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.mobileImage {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10vw;
}
.mobileImage > img {
	width: 100%;
}
@media screen and (max-width: 1306px) {
	.showcaseImage {
		width: 40%;
	}
	.showcase {
		padding: 2vw;
	}
}
@media screen and (max-width: 1268px) {
	.header {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.left {
		flex: 1;
		margin-right: 0;
		text-align: center;
		margin-bottom: 5rem;
	}
	.left > p {
		width: 100%;
		text-align: center;
	}
	.info {
		align-items: flex-start;
		justify-content: center;
	}
	.right {
		flex: 1;
		align-items: center;
	}
}
@media screen and (max-width: 802px) {
	.showcaseImage {
		width: 70%;
	}
	.showcase {
		padding: 5vw;
		flex-direction: column;
	}
	.showcaseImage:first-child {
		margin-right: 0;
	}
	.showcaseImage:last-child {
		margin-top: 2rem;
	}
}
@media screen and (max-width: 714px) {
	.header {
		padding: 5rem;
	}
}
@media screen and (max-width: 624px) {
	.left > p {
		font-size: 1.9rem;
	}
}
@media screen and (max-width: 561px) {
	.info {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin-top: 3rem;
	}
	.info > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.info > div:not(:last-child) {
		margin-right: 0;
		margin-bottom: 2rem;
	}
}
@media screen and (max-width: 543px) {
	.visitBtn::after {
		content: "";
		position: absolute;
		top: 0rem;
		left: -0.6rem;
		height: 10rem;
		width: 10rem;
		border-radius: 50%;
		border: 0.1rem solid var(--2e2);
		z-index: -1;
	}
}
@media screen and (max-width: 425px) {
	.header {
		padding: 3rem;
	}
	.left > p {
		font-size: 1.6rem;
	}
	.showcaseImage {
		width: 100%;
	}
}
@media screen and (max-width: 320px) {
	.header {
		padding: 2rem;
	}
}
