.workSection {
	width: 100%;
	min-height: 100vh;
	background: var(--2e2);
	color: var(--white);
	padding: 5rem 10rem;
}
.cardsContainer {
	padding-top: 5rem;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}
.workCard {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.workCard:not(:last-child) {
	margin-bottom: 5rem;
}
.imageContainer {
	flex: 0.53;
	width: 100%;
}
.imageContainer > img {
	width: 100%;
}
.info {
	flex: 0.42;
	margin-left: 10rem;
}
.info > p {
	font-size: 2.8rem;
	line-height: 1.3;
	margin: 1rem 0 5rem 0;
	width: 60%;
}
.reverse {
	flex-direction: row-reverse;
}
.reverse > .imageContainer {
	margin-right: 0;
}
.viewAll {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 10rem 0 2rem 0;
	cursor: pointer;
}
.line {
	width: 12rem;
	height: 0.2rem;
	background: var(--white);
	margin-right: 2rem;
}
@media screen and (max-width: 1440px) {
	.imageContainer {
		flex: 0.52;
	}
	.info {
		flex: 0.43;
		margin-left: 5rem;
	}
}
@media screen and (max-width: 1286px) {
	.info > h1 {
		font-size: 4rem;
	}
	.imageContainer {
		width: 60vw;
	}
}
@media screen and (max-width: 1254px) {
	.workSection {
		padding: 5rem 10rem;
	}
}
@media screen and (max-width: 1214px) {
	.info > h1 {
		font-size: 4rem;
	}
	.imageContainer {
		width: 70vw;
	}
}
@media screen and (max-width: 1046px) {
	.info > h1 {
		font-size: 4rem;
	}
	.imageContainer {
		width: 70vw;
	}
}
@media screen and (max-width: 1026px) {
	.workCard {
		flex-direction: column;
	}
	.imageContainer {
		margin-right: 0;
		margin-left: 0;
		margin-bottom: 5rem;
		width: 100%;
	}
	.reverse > .imageContainer {
		margin-right: 0;
		margin-left: 0;
	}
	.info {
		margin-left: 0;
		margin-right: 0;
	}
}
@media screen and (max-width: 666px) {
	.workSection {
		padding: 5rem;
	}
}
@media screen and (max-width: 599px) {
	.info > h1 {
		font-size: 3.2rem;
	}
	.info > p {
		width: 100%;
		font-size: 1.7rem;
		margin-bottom: 3rem;
	}
}
@media screen and (max-width: 489px) {
	.viewAll > h2 {
		font-size: 2.2rem;
		font-weight: 600;
	}
}
@media screen and (max-width: 425px) {
	.workSection {
		padding: 3rem;
	}
	.info {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}
}
@media screen and (max-width: 375px) {
	.line {
		width: 8rem;
	}
	.viewAll {
		justify-content: center;
	}
}
